<div class="banner">
    <app-heading></app-heading>
    <div class="container-fluid justify-content-center mt-5">
        <div class="row">
            <div class="col-xxl-1 col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-xxl col-lg col-md col-sm">
                <a href="#" routerLink="../"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                  </svg></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-3 col-md-2 col-sm ">
                <h1>Add Word</h1>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-3 col-md-2 col-sm">
                <h1>Quiz</h1>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-3 col-md-2 col-sm">
                <h1>View Progress</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-3 col-md-2 col-sm">
                <button class="btn" routerLink="add">Add</button>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-3 col-md-2 col-sm">
                <button class="btn" routerLink="quiz">Attempt</button>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-3 col-md-2 col-sm">
                <button class="btn" routerLink="view">View</button>
            </div>
        </div>
        <div class="row">
            <div class="col-5 col-xxl col-lg col-md col-sm"></div>
            <div class="col col-xxl col-lg col-md col-sm">
                <ul class="list-group">
                    <li *ngFor="let player of player; index as i" class="list-group-item">{{player.name}}  {{player.marks}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>