<div class="heading-banner mb-5">
    <div class="row">
        <div class="col-xxl-7 col-xl-5 col-lg-4 col-md-1 col-sm-1 col-3"></div>
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-1 col-4 m-2">
            <h1 class="Username">{{name}}</h1>
        </div>
        <div class="col mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
        </div>
    </div>
</div>
