.heading-banner{
    z-index: -1;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../../../assets/image/heading-banner.png");
}
.Username{
    color: black;
    transform: translateY(10px);
    text-align: right;
}