<div class="row">
    <div class="col"><img src="assets/image/Login-Register.png.png" alt="login image"></div>
    <div class="col"><div class="container">
        <div class="row">
            <div class="col-3 m-0">
                <input type="text" name="" id="" placeholder="Username">
                <input type="password" name="" id="" placeholder="Password">
                <button>Login</button>
                <button>Register</button>
            </div>
            <div class="col"></div>
        </div>
    </div></div>
</div>


