<div class="banner">
    <app-heading></app-heading>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6"></div>
            <div class="col">
                <input type="text" name="" id="" disabled value="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button (click)="getQuiz()">Click</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col">
                <input type="text" name="" id="">
            </div>
        </div>
    </div>
</div>