<div class="banner">
    <app-heading></app-heading>
    <div class="container mt-5">
        <div class="row">
            <div class="col-xxl-1 col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-xxl col-lg col-md col-sm">
                <a href="#" routerLink="../">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                        class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-6 col-xl-4 col-lg-4 col-md-3 col-sm-2 col-3"></div>
            <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-7 col-sm-8 col">
                <h1 class="player">Id : {{player.id}}</h1>
                <h1 class="player">Name : {{player.name}}</h1>
                <h1 class="player">Email : {{player.email}}</h1>
                <h1 class="player">Gender : {{player.gender}}</h1>
                <h1 class="player">Marks : {{player.marks}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-6 col-xl-3 col-lg-3 col-md-2 col-sm-1 col-1"></div>
            <div class="col-xxl-2 col-xl-4 col-lg-1 col-md-1 col-sm-1 col-1">
                <button class="btn" routerLink="../wordview">Words</button>
            </div>
            <div class="col-xxl-2 col-xl-5 col-lg-3 col-md-3 col-sm-1 col-2">
                <button class="btn" routerLink="../quizview">Quizzes</button>
            </div>
        </div>
        <div class="row m-5">
            <div class="col-xxl-6 col-xl-4 col-lg-3 col-md-2 col-sm-1 col-1"></div>
            <div class="col-xxl-6 col-xl-5 col-lg-7 col-md-8 col-sm-3 col">
                <p class="ContactUs">
                    Contact Us Via Facebook or Instergram for Issues with L_Lang
                </p>
            </div>
        </div>
    </div>
</div>