<div class="banner">
    <app-heading></app-heading>
    <div class="container mt-5">
        <div class="row">
            <div class="col-xxl-1 col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-xxl col-lg col-md col-sm">
                <a href="#" routerLink="../view">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                        class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-xxl-7 col-xl-6 col-lg-4 col-md-4 col-sm-2 col-4"></div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-2 col-5">
                <input type="text" class="form-control" id="searchbar" [(ngModel)]="word_name" placeholder="English Word">
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-1 col-6">
                <button class="btn" (click)="search()">Search</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-4 col-md-3 col-sm-2 col-3"></div>
            <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-7 col-sm-8 col-7">
                <ul class="list-group">
                    <li class="list-group-item list-item"><pre>{{word.name}}   =   {{word.pronunciation}}</pre></li>
                </ul>
            </div>
        </div>
    </div>
</div>
